.create-new-account-text{
    display: block;
  margin-top: 15px;
  color: #ff6f61;
  text-decoration: none;
  margin-top: 7px;
  text-decoration: none;
  font-size: 14px;
  text-align: end;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 480px) {
    font-size: 12px;
  }
}